
    <nav class="navbar bg-danger ">


<div class="container">
    <div class="row">
      <div class="col-sm">
        <a class="navbar-brand">
            <i class="fa-solid fa-house" (click)="home()" style="cursor: pointer;"></i>&#160;
            <span style="font-size:14px; font-weight: 500; ">InFlyHealth</span>
        </a>
      </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <input class="main" type="search" placeholder="&#160;&#160;&#160;Search Airlines & Tails"
                    aria-label="Search" [(ngModel)]="searchQuery" (ngModelOptions)="{standalone:true}"
                    (search)="search(searchQuery)" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="form-outline text-light" tabindex="-1">
                
                &#160;&#160;&#160;{{currentDate}}&#160;&#160;&#160;&#160;{{currentTime}}
                &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
                <i class="fa-solid fa-arrow-right-from-bracket fa-2x logout" (click)="logout()"></i>
            </div>
        </div>
      </div>
  </div>
       
    </nav>