<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light bg-danger fixed-top ">
  <div class="container-fluid ">
    <a class="navbar-brand">
      <i class="fa fa-cloud"></i>&#160;
      <span style="font-size:14px; font-weight: 500; ">InFlyHealth</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">

      <div class="form-outline text-light" tabindex="-1">
        <input class="main" type="search" placeholder="&#160;&#160;&#160;Search Airlines & Tails" aria-label="Search" />
        &#160;&#160;&#160;{{currentDate}}&#160;&#160;&#160;&#160;{{currentTime}}
        &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
        <i class="fa-solid fa-arrow-right-from-bracket fa-2x logout justify-content-end" (click)="logout()"></i>
      </div>

    </div>
  </div>
</nav>
<br>
<br>




<!-- Flight Data -->
<br>
<div class="container">
  <br>
  <i class="fa-solid fa-arrow-left fa-2x cards" (click)="goback()"></i>
  <br><br>
  <div class="row">
    <div class="col-7" style="background-color:rgb(194, 189, 189)">
      <div class="px-2" *ngIf="count; else elsepart">ON GROUND ({{count}})</div>
      <div class="p-3" *ngFor="let data of finalData;">
        <div class="row px-2">
          <div [ngClass]="{'optclr':data.status=='operational','nonoptclr':data.status=='nonoperational'
          ,'degretclr':data.status=='degret','unknownclr':data.status=='unknown'}"
            class="col-1 radius border border-dark" style="overflow: hidden;" placement="end" [ngbTooltip]="tipContent">
            <section>
              <ng-template #tipContent>
                <div class="text-start"
                  *ngIf="data.operational || data.nonoperational || data.degret || data.unknown;else elsetooltip">
                  <div>
                    <div *ngIf="data.operational"> <i
                        class="fa-solid fa-circle button1"></i>&#160;&#160;&#160;Operational</div>
                  </div>
                  <div>
                    <div *ngIf="data.nonoperational"><i class="fa-solid fa-circle button2"></i>&#160;&#160;&#160;Non
                      Operational</div>
                  </div>
                  <div>
                    <div *ngIf="data.degret"><i class="fa-solid fa-circle button3"></i>&#160;&#160;&#160;Degret</div>
                  </div>
                  <div>
                    <div *ngIf="data.unknown"><i class="fa-solid fa-circle button4"></i>&#160;&#160;&#160;Unknown</div>
                  </div>
                </div>
              </ng-template>
            </section>
          </div>
          <br>
          <!-- <div class="col-11" (mouseenter)="openMap(data.flightid)"> -->
            <div class="col-11" (mouseenter)="openMap(data.flightid, $event)"
            data-bs-toggle="modal" data-bs-target="#myModal">
            <div class="row justify-content-center text-center">
              <div class="col-sm-5 border border-dark bold p-2" style="background-color:white">
                {{data.flightname}}
              </div>
              <div class="col-sm-2 border border-dark p-2" style="background-color:white">
                {{data.flightid}}
              </div>
              <div class="col-sm-5 rad2 border border-dark bold p-2" style="background-color:white">
                {{data.departure}} &#160;&#160; <i class="fa-solid fa-plane"></i>&#160;&#160; {{data.arrival}}
              </div>
            </div>
            <div class="row text-center">
              <div class="col-sm-6 border border-dark fonts p-2" style="background-color:white">
                Last Message : {{data.messagetime}} minutes ago
              </div>
              <div class="col-sm-2 border border-dark fonts p-2" style="background-color:white">
                {{data.feet}} feet
              </div>
              <div class="col-sm-4 rad3 border border-dark fonts p-2" style="background-color:white">
                Landing in {{data.landinghrs}}hrs
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-5" *ngIf="isMap">
      <!-- For Right side column -->
    </div>
  </div>
</div>

<ng-template #elsepart>
  <div class="p-5 container bg-light text-center">
    FLight Data not Available
  </div>
</ng-template>

<!-- For Tooltip -->
<ng-template #elsetooltip>
  <div class="text-start">
    <i class="fa-solid fa-circle button5"></i>&#160;&#160;&#160;Data Not Available
  </div>
</ng-template>




<!-- Footer -->
<hr>
<div class="footer-basic">
  <footer>
    <div class="social"><a href="#"><i class="fa-brands fa-instagram"></i></a><a href="#"><i
          class="fa-brands fa-snapchat"></i></a><a href="#"><i class="fa-brands fa-twitter"></i></a><a href="#"><i
          class="fa-brands fa-facebook"></i></a></div>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Home</a></li>
      <li class="list-inline-item"><a href="#">Services</a></li>
      <li class="list-inline-item"><a href="#">About</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
    </ul>
    <p class="copyright">L&T Technology Services © 2022</p>
  </footer>
</div>


<!-- Map Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h2>Flight Location </h2>
        <agm-map *ngFor="let data of agmmap" [latitude]="data.lat" [longitude]="data.lng" [zoom]="zoom">
          <agm-overlay *ngFor="let data of overlay" [latitude]="data.lat" [longitude]="data.lng">
            <div><i class="plane fa-solid fa-plane fa-3x"></i></div>
          </agm-overlay>
          <agm-marker [latitude]="mapdata.arr.lat" [longitude]="mapdata.arr.lng">
          </agm-marker>
          <agm-marker [latitude]="mapdata.dept.lat" [longitude]="mapdata.dept.lng">
          </agm-marker>
          <agm-polyline>
            <agm-polyline-point *ngFor="let mapdata of mapline" [latitude]="mapdata.lat" [longitude]="mapdata.lng">
            </agm-polyline-point>
          </agm-polyline>
        </agm-map>
      </div>
    </div>
  </div>
</div>