

<app-app-header (Searchquerydata)="resultsearchdata($event)"></app-app-header>
<br>
<br>

<!-- User page Content -->
<div class="container headers"><br>
  Welcome, {{getUser}}!
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="circle" (click)="airlines()">
        <div class="image d-flex">
          <i class="fa-solid fa-plane-departure fa-2x" style="color:white"></i>
        </div>
      </div>
      <br>
      <h1 class="header text-center">Airlines</h1>
    </div>
    <div class="col-sm">
      <div class="circle" (click)="flight()">
        <div class="image d-flex">
          <i class="fa-solid fa-plane fa-2x" style="color:white"></i>
        </div>
      </div>
      <br>
      <h1 class="header text-center"> Flights</h1>
    </div>
    <div class="col-sm">
      <div class="circle" (click)="flight()">
        <div class="image d-flex">
          <i class="fa-solid fa-desktop fa-2x" style="color:white"></i>
        </div>
      </div>
      <br>
      <h1 class="header text-center"> Live Monitering</h1>
    </div>
    <div class="col-sm">
      <div class="circle" (click)="flight()">
        <div class="image d-flex">
          <i class="fa-solid fa-cloud-arrow-down fa-2x" style="color:white"></i>
        </div>
      </div>
      <br>
      <h1 class="header text-center"> Off Load</h1>
    </div>
  </div>
</div>
<hr>
<br>
<br>

<div class="container" *ngIf="buttonToggle; else nodata">
  <div class="row" *ngIf="getData ;else spinner">
    <div class="col-sm-3" *ngFor="let data of getData;">
      <div class="card" [routerLink]="['/airlines']" routerLinkActive="active" (click)="getID(data.name,data.image)">
        <div class="card-body text-center">
          <div class="row ">
            <div class="col-sm-4">
              <img src="{{data.image}}" style="height: 50px; width:50px;">
            </div>
            <div class="col-sm-8">
              <span class="highlight">{{data.name}}</span><br>
              <span>{{data.code}}</span>
            </div>
          </div>
        </div>
      </div><br>
    </div>
  </div>
</div>

<!-- Flight data -->
<ng-template #nodata>
  <h2 class="text-center">Data not Available</h2>
</ng-template>

<!-- Spinner -->
<ng-template #spinner>
  <div class="container text-center">
    <div class="spinner-border m-5 " role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>

<!-- Footer -->
<app-app-foot></app-app-foot>