<app-header></app-header>
<!-- HomePage -->
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="container w3-jumbo w3-animate-left">
    <div class="text-center py-5" style="font-size: 70px; font-style: italic; font-weight: 500;">
      The digital cabin<br> journey starts here...
    </div>
  </div>
</div>


<!-- <video autoplay muted loop id="myVideo">
  <source src="../../assets/assets/file.mp4" type="video/mp4">
  Your browser does not support HTML5 video.
</video> -->



